.advantage {
    &__section {
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 0;
}

    &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
    &__item {
    margin-top: 0;
    width: 270px;
    margin-right: 30px;
    padding: 0;
}
    &__item:last-child {
    margin-right: 0;
}
    &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: 1px solid var(--secondary-background-color);
    border-radius: 4px;
    background-color: var(--secondary-background-color);
    margin-bottom: 30px;
}
    &__example {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}
    &__description { 
    margin-bottom: 0;
    width: 270px;
    font-weight: 400;
    line-height: 1.71;
}

}