.company__section {
    background-color: var(--primary-background-color);
}   
.company__title {
    font-weight: 700;
    font-size: 36px;
    color: var(--secondary-text-color);
    line-height: 1.17;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.company__list {
    display: flex;
    padding: 0;
}
.company__item {
    margin-top: 0;
    margin-right: 30px;
    padding: 0;
}
.company__item:last-child {
    margin-right: 0;
}
.company__item:first-child {
    margin-left: 0px;
}
.company__link {
    display: inline-block;
    border: 1px solid var(--icon-primary-fill);
    border-radius: 4px;
    background-color: var(--primary-background-color);    padding: 0;
    width: 170px;
    height: 92px;
    cursor: pointer;
    transition: fill 250ms var(--timing-function),
            background-color 250ms var(--timing-function),
            border 250ms var(--timing-function);
        }
.company__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company__link:hover,
.company__link:focus { 
    border: 1px solid var(--accent-color);
}

.company__icon {
    fill: var(--icon-primary-fill);
    transition: fill 250ms var(--timing-function);
}

.company__link:hover .company__icon,
.company__link:focus .company__icon {   
    fill: var(--accent-color);
}
