.footer {
    padding: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--third-background-color);
}
.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer-link {
    margin-bottom: 9px;
}
.footer-link:last-child {
    margin-bottom: 0;
}
.logo-footer {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    display: inline-block;
    }
.accent-footer-logo {
    color: var(--third-text-color);
}
.address {
    line-height: 1.71;
    color: var(--third-text-color); 
    transition: color 250ms var(--timing-function);
}
.address:hover {
    color:var(--accent-color);
}
.address:focus {
    color: var(--accent-color);
}
.mail-footer {
    font-weight: 400;
    line-height: 1.71;
    color: var(--fours-text-color);
    transition: color 250ms var(--timing-function);
}
.mail-footer:hover {
    color: var(--accent-color);
}
.mail-footer:focus {
    color: var(--accent-color);
}
.tel-footer {
    line-height: 1.71;
    color: var(--fours-text-color);
    transition: color 250ms var(--timing-function);
}
.tel-footer:hover {
    color: var(--accent-color);
}
.tel-footer:focus {
    color: var(--accent-color);
}
.h3-foot {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;   
    color: var(--third-text-color); 
}
.footer .social-link {
    margin: 0;
    padding: 0;
}
.social-foot {
    display: flex;
    padding: 0;
    margin-top: 20px;
    margin-left: 0;
}

.social-foot .list {
    margin-right: 10px;
    display: flex;
}
.social-foot .list:first-child {
    margin-left: 70px;
}
.social-foot .list:last-child {
    margin-right: 70px;
}
.social-foot .list .menu-link {
    display: flex;
    align-items: center;
    border: 1px solid var(--third-background-color);
    padding: 0;
    padding: 12px 12px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    background: var(--icon-background-color);
    transition: fill 250ms var(--timing-function),
            background-color 250ms var(--timing-function),
            border 250ms var(--timing-function);
}
.social-foot .list .menu-link:hover,
.social-foot .list .menu-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: var(--accent-color);
}
.social-foot .link-icon {
    fill: var(--third-text-color);
}
.list-team .menu-link:hover .link-icon,
.list-team .menu-link:focus .link-icon {
    fill: var(--third-text-color);
}
.h3-foot-sign {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--third-text-color);
}
.form-submit {
    display: flex;
    justify-content: space-between;
}
.form-submit input::placeholder {
    color: var(--fours-text-color);
    font-family: 'Roboto';
    font-style: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}
.form-submit input{
    min-width: 358px;
    min-height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border: 1px solid var(--border-footer-color);
    background-color: var(--third-background-color);
    margin-right: 12px;
    padding-left: 16px;
    line-height: 1.25;
    color: var(--fours-text-color);
    display: inline;
}
.form-submit label {
    color: rgba(117, 117, 117, 1);
}
.button-send {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    font-family: 'Roboto';
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    margin: 0 auto;
    display: inline-flex;
    cursor: pointer;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.button-send .text {
    padding-right: 10px;
}

.button-send .icon {
    fill: var(--third-text-color);
    }
