.footer {
    padding: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--third-background-color);
}
.footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer-address {
    &__item {
    margin-bottom: 9px;
}
    &__item:last-child {
    margin-bottom: 0;
}
    &__address {
    line-height: 1.71;
    color: var(--third-text-color); 
    transition: color 250ms var(--timing-function);
}
    &__address:hover {
    color:var(--accent-color);
}
    &__address:focus {
    color: var(--accent-color);
}
    &__mail {
    font-weight: 400;
    line-height: 1.71;
    color: var(--fours-text-color);
    transition: color 250ms var(--timing-function);
}
    &__mail:hover {
    color: var(--accent-color);
}
    &__mail:focus {
    color: var(--accent-color);
}
    &__tel {
    line-height: 1.71;
    color: var(--fours-text-color);
    transition: color 250ms var(--timing-function);
}
    &__tel:hover {
    color: var(--accent-color);
}
    &__tel:focus {
    color: var(--accent-color);
}

}

.social-network {
    margin: 0;
    padding: 0;

        &__title {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;   
    color: var(--third-text-color); 
}
    &__list {
    display: flex;
    padding: 0;
    margin-top: 20px;
    margin-left: 0;
}

    &__item {
    margin-right: 10px;
    display: flex;
}
    &__item:first-child {
    margin-left: 70px;
}
    &__item:last-child {
    margin-right: 70px;
}
    &__link {
    display: flex;
    align-items: center;
    border: 1px solid var(--third-background-color);
    padding: 0;
    padding: 12px 12px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    background: var(--icon-background-color);
    transition: fill 250ms var(--timing-function),
            background-color 250ms var(--timing-function),
            border 250ms var(--timing-function);
}
    &__link:hover,
    &__link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: var(--accent-color);
}
    &__icon {
    fill: var(--third-text-color);
}
    &__link:hover &__icon,
    &__link:focus &__icon {
    fill: var(--third-text-color);
}

}
.mailsend {
    &__title {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--third-text-color);
}
    &__form {
    display: flex;
    justify-content: space-between;
}
    &__form input::placeholder {
    color: var(--fours-text-color);
    font-family: 'Roboto';
    font-style: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}
    &__form input{
    min-width: 358px;
    min-height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border: 1px solid var(--border-footer-color);
    background-color: var(--third-background-color);
    margin-right: 12px;
    padding-left: 16px;
    line-height: 1.25;
    color: var(--fours-text-color);
    display: inline;
}
    &__form label {
    color: rgba(117, 117, 117, 1);
}

}
.button-send {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    font-family: 'Roboto';
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    margin: 0 auto;
    display: inline-flex;
    cursor: pointer;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__text {
    padding-right: 10px;
}

    &__icon {
    fill: var(--third-text-color);
    }

}

