.team {
    &__section {
    background-color: var(--secondary-background-color);
}
    &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
}
    &__list {
    margin: 0;
    display: flex;
    padding: 0;
}
    &__foto {
    padding: 30px 0;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
    &__foto {
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

    &__foto:last-child {
    margin-right: 0;
}
    &__img {
    display: block;
}

}
.member {
    padding: 30px 0;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.member {
    &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}
    &__prof {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

}
.social {
    &__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}
    &__item {
    display: flex;
}
    &__link {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-background-color);
    border-radius: 50%;
    padding: 0;
    padding: 12px 12px;
    background-color: var(--primary-background-color);
    cursor: pointer;
    width: 44px;
    height: 44px;
    position: relative;
    transition: fill 250ms var(--timing-function), 
                background-color 250ms var(--timing-function),
                border 250ms var(--timing-function);
}
    &__link:hover,
    &__link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: var(--accent-color);
}


    &__icon {
    fill: var(--icon-primary-fill);
    transition: fill 250ms var(--timing-function);
}
    &__link:hover .social__icon,
    &__link:focus .social__icon {
    fill: var(--third-text-color);
}

}
